# Make a copy of this file as `.env` and fill in the values


# These will be picked up when running act (nektos/act) commands to test run GHA workflows locally.
# Common use is to comment out the env: block in the workflow file and use this file to set the environment variables.

ISSUE_NUMBER=123
ISSUE_REPOSITORY=your-personal-handle/spam-repository
ISSUE_URL=
